* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Playfair Display", sans-serif;
    background-color: rgb(248, 248, 248);
    background-image: url(/assets/Corvette.jpg); /*caminho da imagem*/
    background-size: cover; /*centraliza a imagem */
    background-repeat: no-repeat; /*evita que a imagem repita */
    background-attachment: fixed;
    height: 100vh;
}



nav{
    background-color: rgb(15, 1, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    
}

.Logo{
    text-transform: uppercase;
    letter-spacing: 3px;
}

h1{
    color: white;
    text-align: center;
}

a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.4s;
}


a:hover{
    opacity: 0.7;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
    letter-spacing: 2px;
}

.pagina-sobre {
    background-image: url(/assets/MustangGt.jpg); /* Caminho da imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra todo o fundo */
    background-position: center; /* Centraliza a imagem no fundo */
    background-attachment: fixed; /* Mantém a imagem fixa ao rolar a página */
    height: 100vh; /* Faz o fundo ocupar 100% da altura da página */
    color: #fff; /* Define uma cor de texto que contraste com o fundo */
    text-align: center;
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    nav {
        display: flex;
    }

    .pagina-sobre {
        background-size: cover;
        background-position: center;
        height: auto; /* Ajusta a altura para ser dinâmica */
        display: flex;
    }

    h1 {
        font-size: 24px;
    }
}

audio {
    display: none;
}
