* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Playfair Display", sans-serif;
    background-color: rgb(248, 248, 248);
    background-image: url(/assets/Corvette.jpg); /*caminho da imagem*/
    background-size: cover; /*centraliza a imagem */
    background-repeat: no-repeat; /*evita que a imagem repita */
}



nav{
    background-color: rgb(15, 1, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    
}

.Logo{
    text-transform: uppercase;
    letter-spacing: 3px;
}

h1{
    color: white;
}

a{
    color: #ffffff;
    text-decoration: none;
    transition: 0.4s;
}


a:hover{
    opacity: 0.7;
}

ul{
    display: flex;
    list-style: none;
    gap: 30px;
    letter-spacing: 2px;
}

.sobre{
    background-image: url(/assets/DogdeChallenger.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sobre p{
    color: white;
}


